/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
.logo__container {
  display: flex;
  align-items: center;
}
.bg-white {
  background-color: white;
}
.bg-secondary {
  background-color: #eee;
}
.bg-gray {
  background-color: gray;
}
.cursor-pointer {
  cursor: pointer;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.text-white {
  color: #fff;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-10 {
  padding: 10px;
}
.bg-white2 {
  background-color: #eee;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.mr-1 {
  margin-right: 10px;
}
